<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <p class = "warning">
        Be Aware. The Rabbits are at large. Be Paranoid. If you think they are out to get you, they are. If you think you're safe, they are close at hand. You can try to Run, but they will run faster. You can try to hide, but they will find you. We must Fight. Join the revolution today.
      </p>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
